
<h2><p><%= @servicio.cliente.nombre %>,</p></h2>

<p>SAH le agradece diligenciar la siguiente encuesta de satisfacción del servicio!</p>

<p><%= link_to "Calificación Servicio SAH", new_calificaciones_servicios_url  %></p>


  
